@model IEnumerable<Dima.Entities.UsuariosEnt>


@{
    ViewBag.Title = "ConsultarUsuarios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12 stretch-card  mt-5 mb-5">
    <div class="card">
        <div class="card-body table-responsive">
            <h4 class="card-title">Registro de usuarios</h4>

            <table id="tablaUsuarios" class="table table-hover table-sm">
                <thead>
                    <tr>
                        <th class="th-sm">ID</th>
                        <th class="th-sm">Cédula</th>
                        <th class="th-sm">Nombre</th>
                        <th class="th-sm">Primer Apellido</th>
                        <th class="th-sm">Segundo Apellido</th>
                        <th class="th-sm">Correo Electronico</th>
                        <th class="th-sm">Rol</th>
                        @*<th class="th-sm">Estado</th>*@
                        <th class="th-sm">Departamento</th>
                        <th class="th-sm">Acción</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in ViewBag.ListaUsuarios)
                    {
                        <tr>
                            <td>@item.idUsuario</td>
                            <td>@item.cedula</td>
                            <td>@item.nombre</td>
                            <td>@item.primerApellido</td>
                            <td>@item.segundoApellido</td>
                            <td>@item.correo</td>
                            <td>@item.idRol</td>
                            @*<td>@item.activo</td>*@
                            <td>@item.idDepartamento</td>
                            <td>
                                <a href="@Url.Action("EditarUsuarios","Home", new { q = item.idUsuario})" class="ti-reload"></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
<script type="text/javascript">
    $(document).ready(function () {
        let table = new DataTable('#tablaUsuarios', {
            language: {
                url: 'https://cdn.datatables.net/plug-ins/1.13.4/i18n/es-ES.json',
            },
        });
    });
</script>