@model Dima.Entities.UsuariosEnt

@{
    ViewBag.Title = "Iniciar sesión";
    Layout = "~/Views/Shared/_LayoutBlank.cshtml";
}

<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="~/templates/login/images/undraw_remotely_2j6y.svg" alt="Image" class="img-fluid">
            </div>
            <div class="col-md-6 contents">
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <div class="mb-4">
                            <h3>Iniciar sesión</h3>
                            <p class="mb-4">Ingresa tus credenciales para acceder al Dima y agendar tus citas con especialistas en psicología completamente gratis</p>
                        </div>

                        @using (Html.BeginForm("Inicio", "Home", FormMethod.Post))
                        {
                            <div class="form-group first">
                                @Html.TextBoxFor(m => m.correo, new
                           {
                               @class = "form-control",
                               @placeholder = "Usuario",
                               @required = true,
                               @onblur = "BuscarCorreo();"
                           })
                            </div>

                            <div class="form-group last mb-4">
                                @Html.TextBoxFor(Model => Model.contrasena, new
                                {
                                    @class = "form-control",
                                    @required = true,
                                    @placeholder = "Contraseña",
                                    @type = "Password",
                                    @onblur = "ValidarConfirmacionContrasenna();"
                                })
                            </div>

                            <div class="mb-4">
                                <div class="g-recaptcha" data-sitekey="6LfWVEMlAAAAALJ-CzRmGvVqu058EeMfI7dWTjkt"></div>
                            </div>

                            <div class="d-flex mb-4 align-items-center">
                                <span class="ml-auto">
                                    @Html.ActionLink("Olvidé contraseña", "RecuperarContrasena", "Home", new { @class = "forgot-pass" })
                                </span>

                            </div>

                            <div class="mensajeError">
                                @ViewBag.mensaje
                            </div>

                            <input type="submit" value="Iniciar sesión" class="btn btn-block login-btn">

                            <span class="d-block text-left my-4 text-muted ">&mdash; Si no tienes cuenta &mdash;</span>

                            @Html.ActionLink("Regístrate", "Registro", "Home", new { @class = "btn btn-block register-btn" })
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/FuncionesJS/ValidarCampos.js"></script>